In [32]:
import pandas as pd
import numpy as np
import time

ac = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\trainingset\\action_train.csv')
order = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\trainingset\\orderFuture_train.csv')
order_his = pd.read_csv('F:\\study\\ml\\DataSet\Hbc_csv\\trainingset\\orderHistory_train.csv')
comment = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\trainingset\\userComment_train.csv')
profile = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\trainingset\\userProfile_train.csv')

ac_test = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\test\\action_test.csv')
order_test = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\test\\orderFuture_test.csv')
order_his_test = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\test\\orderHistory_test.csv')
comment_test = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\test\\userComment_test.csv')
profile_test = pd.read_csv('F:\\study\\ml\\DataSet\\Hbc_csv\\test\\userProfile_test.csv')

In [33]:
ac.head()

         userid  actionType  actionTime
0  100000000013           1  1474300753
1  100000000013           5  1474300763
2  100000000013           6  1474300874
3  100000000013           5  1474300911
4  100000000013           6  1474300936

In [34]:
def time_help(x):
    timeArray = time.localtime(x)
    return time.strftime('%Y-%m-%d %H:%M:%S',timeArray)

In [35]:
ac.actionTime=pd.to_datetime(ac.actionTime.apply(lambda x:time_help(x)),format='%Y-%m-%d %H:%M:%S')
order_his.orderTime=pd.to_datetime(order_his.orderTime.apply(lambda x:time_help(x)),format='%Y-%m-%d %H:%M:%S')
ac_test.actionTime=pd.to_datetime(ac_test.actionTime.apply(lambda x:time_help(x)),format='%Y-%m-%d %H:%M:%S')
order_his_test.orderTime=pd.to_datetime(order_his_test.orderTime.apply(lambda x:time_help(x)),format='%Y-%m-%d %H:%M:%S')

In [36]:
order_his_test.head()

         userid  orderid           orderTime  orderType city country continent
0  100000000371  1000029 2017-08-23 07:13:05          0   东京      日本        亚洲
1  100000001445  1000089 2016-11-07 23:24:35          0  新加坡     新加坡        亚洲
2  100000001445  1000085 2017-04-04 16:53:36          0  西雅图      美国       北美洲
3  100000001445  1000083 2016-11-07 18:27:22          0  新加坡     新加坡        亚洲
4  100000001445  1000086 2016-11-08 02:59:08          0  新加坡     新加坡        亚洲

In [37]:
ac['day']=ac.actionTime.apply(lambda x:x.day)
ac_test['day']=ac_test.actionTime.apply(lambda x:x.day)

In [38]:
ac.head()

         userid  actionType          actionTime  day
0  100000000013           1 2016-09-19 23:59:13   19
1  100000000013           5 2016-09-19 23:59:23   19
2  100000000013           6 2016-09-20 00:01:14   20
3  100000000013           5 2016-09-20 00:01:51   20
4  100000000013           6 2016-09-20 00:02:16   20

In [39]:
def orderHistory_feat(df):
    grouped=df[['userid','orderType']].groupby('userid',as_index=False)
    df_count=grouped.count()
    df_count.rename(columns={'orderType':'df_count'},inplace=True)
    df_sum=grouped.sum()
    df_sum.rename(columns={'orderType':'df_sum'},inplace=True)
    df_merge=pd.merge(df_count,df_sum,on='userid',how='left')
    df_merge['rate']=df_merge['df_sum']/df_merge['df_count']
    del df_merge['df_count']
    df_merge.rename(columns={'df_sum':'orderHistory_feat_sum','rate':'orderHistory_feat_rate'},inplace=True)
    del df_merge['orderHistory_feat_rate']
    return df_merge

In [40]:
orderHistory_feat(order_his).head()

         userid  orderHistory_feat_sum
0  100000000013                      0
1  100000000393                      0
2  100000000459                      0
3  100000000637                      0
4  100000000695                      0

In [41]:
def actions_orderType(df):
    df['count']=1
    df_count=df[['userid','count']].groupby('userid',as_index=False).count()
    actionType=pd.get_dummies(df['actionType'],prefix='actionType')
    df=pd.concat([df['userid'],actionType],axis=1)
    df=df.groupby('userid',as_index=False).sum()
    for column in range(1,df.shape[1]):
        df['actionType_{}'.format(column)]=df['actionType_{}'.format(column)]/df_count['count']
    return df

In [42]:
actions_orderType(ac).head()

,userid,actionType_1,actionType_2,actionType_3,actionType_4,actionType_5,actionType_6,actionType_7,actionType_8,actionType_9
0,100000000013,0.552448,0.006993,0.027972,0.006993,0.223776,0.125874,0.006993,0.027972,0.020979
1,100000000111,0.333333,0.000000,0.000000,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000
2,100000000127,0.333333,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000
3,100000000231,0.340909,0.136364,0.045455,0.113636,0.227273,0.136364,0.000000,0.000000,0.000000
4,100000000379,0.500000,0.035714,0.083333,0.071429,0.166667,0.130952,0.011905,0.000000,0.000000

In [21]:
df = ac
df['count']=1
df_count=df[['userid','count']].groupby('userid',as_index=False).count()
actionType=pd.get_dummies(df['actionType'],prefix='actionType')
df=pd.concat([df['userid'],actionType],axis=1)
df=df.groupby('userid',as_index=False).sum()
for column in range(1,df.shape[1]):
    df['actionType_{}'.format(column)]=df['actionType_{}'.format(column)]/df_count['count']
df

,userid,actionType_1,actionType_2,actionType_3,actionType_4,actionType_5,actionType_6,actionType_7,actionType_8,actionType_9
0,100000000013,0.552448,0.006993,0.027972,0.006993,0.223776,0.125874,0.006993,0.027972,0.020979
1,100000000111,0.333333,0.000000,0.000000,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000
2,100000000127,0.333333,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000
3,100000000231,0.340909,0.136364,0.045455,0.113636,0.227273,0.136364,0.000000,0.000000,0.000000
4,100000000379,0.500000,0.035714,0.083333,0.071429,0.166667,0.130952,0.011905,0.000000,0.000000
5,100000000393,0.605263,0.000000,0.026316,0.000000,0.210526,0.078947,0.026316,0.026316,0.026316
6,100000000423,0.561194,0.037313,0.016418,0.022388,0.080597,0.020896,0.019403,0.228358,0.013433
7,100000000459,0.239437,0.000000,0.000000,0.000000,0.267606,0.422535,0.000000,0.028169,0.042254
8,100000000465,0.500000,0.000000,0.000000,0.000000,0.200000,0.150000,0.000000,0.075000,0.075000
9,100000000471,0.090909,0.000000,0.136364,0.000000,0.500000,0.227273,0.000000,0.045455,0.000000
10,100000000637,0.341463,0.000000,0.000000,0.000000,0.439024,0.219512,0.000000,0.000000,0.000000
11,100000000695,0.129032,0.096774,0.032258,0.161290,0.322581,0.129032,0.064516,0.032258,0.032258
12,100000000745,0.718750,0.000000,0.000000,0.000000,0.125000,0.093750,0.000000,0.031250,0.031250
13,100000000755,0.400000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000
14,100000000867,0.106796,0.067961,0.417476,0.135922,0.223301,0.029126,0.019417,0.000000,0.000000
15,100000000949,0.282609,0.043478,0.021739,0.021739,0.239130,0.173913,0.086957,0.065217,0.065217
16,100000000975,0.298246,0.087719,0.052632,0.035088,0.315789,0.157895,0.017544,0.017544,0.017544
17,100000001023,0.468828,0.009975,0.012469,0.004988,0.279302,0.174564,0.014963,0.027431,0.007481
18,100000001195,0.333333,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000
19,100000001231,0.428571,0.000000,0.000000,0.000000,0.457143,0.085714,0.000000,0.028571,0.000000
20,100000001295,0.307692,0.000000,0.000000,0.000000,0.461538,0.128205,0.051282,0.025641,0.025641
21,100000001343,0.266667,0.000000,0.000000,0.000000,0.200000,0.266667,0.066667,0.133333,0.066667
22,100000001505,0.160494,0.086420,0.061728,0.012346,0.234568,0.209877,0.086420,0.074074,0.074074
23,100000001557,0.363636,0.000000,0.000000,0.000000,0.545455,0.090909,0.000000,0.000000,0.000000
24,100000001683,0.360000,0.040000,0.000000,0.000000,0.360000,0.200000,0.040000,0.000000,0.000000
25,100000001711,0.093023,0.000000,0.000000,0.000000,0.465116,0.348837,0.000000,0.046512,0.046512
26,100000001803,0.312500,0.000000,0.000000,0.000000,0.687500,0.000000,0.000000,0.000000,0.000000
27,100000001955,0.153846,0.038462,0.000000,0.000000,0.230769,0.192308,0.153846,0.115385,0.115385
28,100000001963,0.250000,0.000000,0.000000,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000
29,100000002111,0.259259,0.000000,0.000000,0.000000,0.518519,0.222222,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
40277,114869267343,0.300000,0.000000,0.000000,0.000000,0.300000,0.300000,0.100000,0.000000,0.000000
40278,114869267443,0.468750,0.000000,0.093750,0.000000,0.187500,0.125000,0.062500,0.031250,0.031250
40279,114869267447,0.166667,0.166667,0.000000,0.000000,0.166667,0.333333,0.166667,0.000000,0.000000
40280,114869467148,0.000000,0.100000,0.300000,0.000000,0.300000,0.200000,0.100000,0.000000,0.000000
40281,114869467440,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000
40282,114869567147,0.151515,0.030303,0.000000,0.121212,0.393939,0.272727,0.030303,0.000000,0.000000
40283,114869567242,0.250000,0.000000,0.000000,0.000000,0.250000,0.250000,0.250000,0.000000,0.000000
40284,114869652742,0.200000,0.133333,0.066667,0.000000,0.433333,0.066667,0.033333,0.033333,0.033333
40285,114869667242,0.222222,0.000000,0.000000,0.000000,0.444444,0.333333,0.000000,0.000000,0.000000
40286,114869667840,0.250000,0.000000,0.000000,0.000000,0.250000,0.250000,0.250000,0.000000,0.000000
40287,114869669649,0.054054,0.189189,0.405405,0.000000,0.216216,0.108108,0.027027,0.000000,0.000000
40288,114869767141,0.090909,0.204545,0.227273,0.022727,0.318182,0.113636,0.022727,0.000000,0.000000
40289,114869767649,0.090909,0.060606,0.303030,0.000000,0.484848,0.030303,0.030303,0.000000,0.000000
40290,114869769143,0.142857,0.000000,0.000000,0.000000,0.285714,0.428571,0.142857,0.000000,0.000000
40291,114869867143,0.173913,0.130435,0.000000,0.043478,0.347826,0.217391,0.086957,0.000000,0.000000
40292,114869867443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
40293,114869867749,0.304348,0.217391,0.000000,0.043478,0.130435,0.130435,0.043478,0.086957,0.043478
40294,114869967142,0.318182,0.090909,0.000000,0.000000,0.363636,0.181818,0.045455,0.000000,0.000000
40295,114869967540,0.200000,0.000000,0.000000,0.000000,0.400000,0.200000,0.200000,0.000000,0.000000
40296,114869967746,0.250000,0.000000,0.000000,0.000000,0.250000,0.500000,0.000000,0.000000,0.000000
40297,114869969143,0.166667,0.111111,0.000000,0.111111,0.444444,0.166667,0.000000,0.000000,0.000000
40298,114869969641,0.250000,0.000000,0.000000,0.000000,0.250000,0.250000,0.250000,0.000000,0.000000
40299,114869969842,0.222222,0.000000,0.111111,0.166667,0.166667,0.166667,0.055556,0.055556,0.055556
40300,114999082932,0.409836,0.000000,0.000000,0.000000,0.426230,0.147541,0.000000,0.016393,0.000000
40301,114999082935,0.400000,0.000000,0.000000,0.000000,0.200000,0.200000,0.000000,0.100000,0.100000
40302,114999280232,0.200000,0.000000,0.000000,0.000000,0.320000,0.280000,0.000000,0.120000,0.080000
40303,114999480334,0.428571,0.000000,0.000000,0.000000,0.428571,0.142857,0.000000,0.000000,0.000000
40304,114999482932,0.583333,0.000000,0.000000,0.000000,0.333333,0.083333,0.000000,0.000000,0.000000
40305,114999582132,0.118644,0.050847,0.084746,0.033898,0.423729,0.271186,0.016949,0.000000,0.000000
40306,114999782736,0.250000,0.000000,0.000000,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000

In [43]:
def get_two(arr):
    try:
        tem = int(arr.iloc[-2])
        return tem
    except:
        np.nan
    
def get_three(arr):
    try:
        tem = int(arr.iloc[-3])
        return tem
    except:
        return np.nan

In [50]:
def last_action(df):
    last_type=df[['userid','actionType']].groupby('userid',as_index=False).agg('last')
    last_type.rename(columns={'actionType':'last_type'},inplace=True)
    
    two_type=df[['userid','actionType']].groupby('userid',as_index=False).agg(get_two)
    two_type.rename(columns={'actionType':'two_type'},inplace=True)
    
    three_type=df[['userid','actionType']].groupby('userid',as_index=False).agg(get_three)
    three_type.rename(columns={'actionType':'three_type'},inplace=True)
    
    last=pd.merge(last_type,two_type,on='userid',how='left')
    last=pd.merge(last,three_type,on='userid',how='left')
    return last

In [51]:
last_action(ac).head()

         userid  last_type  two_type  three_type
0  100000000013          6       1.0         1.0
1  100000000111          6       5.0         1.0
2  100000000127          7       7.0         5.0
3  100000000231          2       2.0         1.0
4  100000000379          1       6.0         5.0

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [64]:
def last_city(train,test):
    city=list(order_his['city'].unique())
    city_test=list(order_his_test['city'].unique())
    
    for i in city_test:
        if i not in city:
            city.append(i)
    le.fit(city)
    
    new = order_his[['userid','city','continent']].drop_duplicates(subset='userid',keep='last')
    new['city']=le.transform(new['city'])
    
    new_test = order_his_test[['userid','city','continent']].drop_duplicates(subset='userid',keep='last')
    new['city']=le.transform(new_test['city'])
    
    new['continent']=le.fit_transform(new['continent'])
    new_test['continent']=le.fit_transform(new_test['continent'])
    
    train=pd.merge(train,new,on='userid',how='left')
    test=pd.merge(test,new_test,on='userid',how='left')
    return train,test

In [66]:
def profile_me(train,test):
    for i in ['rovince','gender','age']:
        train[i]=train[i].factorize()[0]
        test[i]=test[i].factorize()[0]
        
        train[i]=le.fit_transform(train[i])
        test[i]=le.fit_transform(test[i])
    return train,test

In [67]:
def fun1(arr):
    try:
        return ((arr.iloc[-1])-(arr.iloc[-2])).seconds
    except:
        return np.nan
    
def fun2(arr):
    try:
        return ((arr.iloc[-1])-(arr.iloc[-2])).days
    except:
        return np.nan
def fun3(arr):
    try:
        return ((arr.iloc[-2]) - (arr.iloc[-3])).days
    except:
        return np.nan

def fun4(arr):
    try:
        return ((arr.iloc[-2]) - (arr.iloc[-3])).seconds
    except:
        return np.nan

In [69]:
def ac_time(train,test):
    las_two_day=ac[['userid','actionTime']].groupby('userid',as_index=False).agg(fun2)
    las_two_day.rename(columns={'actionTime':'last_two_day'},inplace=True)
    
    las_two_second = ac[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun1)
    las_two_second.rename(columns={'actionTime':'last_two_second'}, inplace=True)
    
    two_three_day = ac[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun3)
    two_three_day.rename(columns={'actionTime':'two_three_day'}, inplace=True)
    
    two_three_second = ac[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun4)
    two_three_second.rename(columns={'actionTime':'two_three_second'}, inplace=True)
    
    train=pd.merge(train,las_two_day,on='userid',how='left')
    train = pd.merge(train, las_two_second, on='userid', how='left')
    train = pd.merge(train, two_three_day, on='userid', how='left')
    train = pd.merge(train, two_three_second, on='userid', how='left')
    
    las_two_day_ = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun2)
    las_two_day_.rename(columns={'actionTime':'last_two_day'}, inplace=True)
    las_two_second_ = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun1)
    las_two_second_.rename(columns={'actionTime':'last_two_second'}, inplace=True)
    
    two_three_day = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun3)
    two_three_day.rename(columns={'actionTime':'two_three_day'}, inplace=True)
    two_three_second = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun4)
    two_three_second.rename(columns={'actionTime':'two_three_second'}, inplace=True)
    
    test = pd.merge(test, las_two_day_, on='userid', how='left')
    test = pd.merge(test, las_two_second_, on='userid', how='left')
    test = pd.merge(test, two_three_day, on='userid', how='left')
    test = pd.merge(test, two_three_second, on='userid', how='left')
    
    return train,test

In [70]:
def fun5(timeseries):
    sum=[]
    for i in range(len(timeseries)-1):
        sum.append((timeseries.iloc[i+1]-timeseries.iloc[i]).seconds)
    return np.mean(sum)

def fun6(timeseries):
    sum=[]
    for i in range(len(timeseries)-1):
        sum.append((timeseries.iloc[i+1]-timeseries.iloc[i]).seconds)
    return np.std(sum)

In [71]:
def time_delta(train,test):
    time_mean=ac[['userid','actionTime']].groupby('userid',as_index=False).agg(fun5)
    time_mean.rename(columns={'actionTime':'timedelta_mean'}, inplace=True)
    
    time_std = ac[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun5)
    time_std.rename(columns={'actionTime':'timedelta_std'}, inplace=True)
    
    train = pd.merge(train,time_mean,on='userid',how='left')
    train = pd.merge(train,time_std,on='userid',how='left')
    
    time_mean = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun5)
    time_mean.rename(columns={'actionTime':'timedelta_mean'}, inplace=True)
    time_std = ac_test[['userid', 'actionTime']].groupby('userid', as_index=False).agg(fun6)
    time_std.rename(columns={'actionTime':'timedelta_std'}, inplace=True)
    
    test = pd.merge(test, time_mean, on='userid', how='left')
    test = pd.merge(test, time_std, on='userid', how='left')
    return train, test