In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import *
from sklearn.grid_search import GridSearchCV

train=pd.read_csv("F:\\study\\ml\\DataSet\\HomesiteCompetition\\train.csv")
test=pd.read_csv("F:\\study\\ml\\DataSet\\HomesiteCompetition\\test.csv")
train.head()
train=train.drop(['QuoteNumber'],axis=1)
test=test.drop(['QuoteNumber'],axis=1)
print("################")
train.head()

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

################

,Original_Quote_Date,QuoteConversion_Flag,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,...,GeographicField59A,GeographicField59B,GeographicField60A,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64
0,2013-08-16,0,B,23,0.9403,0.0006,965,1.0200,N,17,...,9,9,-1,8,-1,18,-1,10,N,CA
1,2014-04-22,0,F,7,1.0006,0.0040,548,1.2433,N,6,...,10,10,-1,11,-1,17,-1,20,N,NJ
2,2014-08-25,0,F,7,1.0006,0.0040,548,1.2433,N,7,...,15,18,-1,21,-1,11,-1,8,N,NJ
3,2013-04-15,0,J,10,0.9769,0.0004,"1,165",1.2665,N,3,...,6,5,-1,10,-1,9,-1,21,N,TX
4,2014-01-25,0,E,23,0.9472,0.0006,"1,487",1.3045,N,8,...,18,22,-1,10,-1,11,-1,12,N,IL

In [2]:
train.head()
train.loc[0,"Original_Quote_Date"]
type(train.loc[0,"Original_Quote_Date"])

str

In [2]:
train['Date']= pd.to_datetime(train['Original_Quote_Date'])
test['Date']= pd.to_datetime(test['Original_Quote_Date'])
train['Date'].head()

0   2013-08-16
1   2014-04-22
2   2014-08-25
3   2013-04-15
4   2014-01-25
Name: Date, dtype: datetime64[ns]

In [3]:
train['Year']=train['Date'].apply(lambda x:int(str(x)[:4]))
train['Month']=train['Date'].apply(lambda x:int(str(x)[5:7]))
train['weekday']=train['Date'].apply(lambda x:int(str(x)[8:10]))

test['Year']=test['Date'].apply(lambda x:int(str(x)[:4]))
test['Month']=test['Date'].apply(lambda x:int(str(x)[5:7]))
test['weekday']=test['Date'].apply(lambda x:int(str(x)[8:10]))

In [4]:
train=train.drop('Date',axis=1)
test=test.drop('Date',axis=1)
train.head()

,Original_Quote_Date,QuoteConversion_Flag,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,...,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64,Year,Month,weekday
0,2013-08-16,0,B,23,0.9403,0.0006,965,1.0200,N,17,...,8,-1,18,-1,10,N,CA,2013,8,16
1,2014-04-22,0,F,7,1.0006,0.0040,548,1.2433,N,6,...,11,-1,17,-1,20,N,NJ,2014,4,22
2,2014-08-25,0,F,7,1.0006,0.0040,548,1.2433,N,7,...,21,-1,11,-1,8,N,NJ,2014,8,25
3,2013-04-15,0,J,10,0.9769,0.0004,"1,165",1.2665,N,3,...,10,-1,9,-1,21,N,TX,2013,4,15
4,2014-01-25,0,E,23,0.9472,0.0006,"1,487",1.3045,N,8,...,10,-1,11,-1,12,N,IL,2014,1,25

In [5]:
train.isnull().any()
train.loc[:,train.isnull().any()]
train=train.fillna(-999)
test=test.fillna(-999)
train.isnull().any().any()

False

In [7]:
np.shape(list(train['Field7'].values)+list(test['Field7'].values))
np.shape(list(train['Field7'].values))

(260753,)

In [6]:

features = list(train.columns[2:])
a=set(train.columns)
b=set(test.columns)
a.difference(b)

for f in train.columns:
    if train[f].dtype == 'object':
        print(f)
        lbl= preprocessing.LabelEncoder()
        lbl.fit(list(train[f].values) + list(test[f].values))
        train[f]=lbl.transform(list(train[f].values))
        test[f]=lbl.transform(list(test[f].values))

train.head()

Original_Quote_Date
Field6
Field10
Field12
CoverageField8
CoverageField9
SalesField7
PersonalField7
PersonalField16
PersonalField17
PersonalField18
PersonalField19
PropertyField3
PropertyField4
PropertyField5
PropertyField7
PropertyField14
PropertyField28
PropertyField30
PropertyField31
PropertyField32
PropertyField33
PropertyField34
PropertyField36
PropertyField37
PropertyField38
GeographicField63
GeographicField64

,Original_Quote_Date,QuoteConversion_Flag,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,...,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64,Year,Month,weekday
0,227,0,1,23,0.9403,0.0006,7,1.0200,0,17,...,8,-1,18,-1,10,1,0,2013,8,16
1,476,0,5,7,1.0006,0.0040,4,1.2433,0,6,...,11,-1,17,-1,20,1,2,2014,4,22
2,601,0,5,7,1.0006,0.0040,4,1.2433,0,7,...,21,-1,11,-1,8,1,2,2014,8,25
3,104,0,6,10,0.9769,0.0004,1,1.2665,0,3,...,10,-1,9,-1,21,1,3,2013,4,15
4,389,0,4,23,0.9472,0.0006,3,1.3045,0,8,...,10,-1,11,-1,12,1,1,2014,1,25

In [7]:
xgb_model = xgb.XGBClassifier()

parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'objective':['binary:logistic'],
              'learning_rate': [0.05], #so called `eta` value
              'max_depth': [6],
              'min_child_weight': [11],
              'silent': [1],
              'subsample': [0.8],
              'colsample_bytree': [0.7],
              'n_estimators': [5], #number of trees, change it to 1000 for better results
              'missing':[-999],
              'seed': [1337]}


clf = GridSearchCV(xgb_model, parameters, n_jobs=5, 
                   cv=StratifiedKFold(train['QuoteConversion_Flag'], n_folds=5, shuffle=True), 
                   scoring='roc_auc',
                   verbose=2, refit=True)
clf.fit(train[features], train['QuoteConversion_Flag'])

best_parameters, score, _ = max(clf.grid_scores_, key=lambda x: x[1])
print('Raw AUC score:', score)
for param_name in sorted(best_parameters.keys()):
    print("%s: %r" % (param_name, best_parameters[param_name]))

test_probs = clf.predict_proba(test[features])[:,1]

sample = pd.read_csv('F:\\study\\ml\\DataSet\\HomesiteCompetition\\sample_submission.csv')
sample.QuoteConversion_Flag = test_probs
sample.to_csv("F:\\study\\ml\\DataSet\\HomesiteCompetition\\xgboost_best_parameter_submission.csv", index=False)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=5)]: Done   2 out of   5 | elapsed:  1.2min remaining:  1.8min
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed:  2.1min remaining:    0.0s
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed:  2.1min finished

Raw AUC score: 0.9450794909699887
colsample_bytree: 0.7
learning_rate: 0.05
max_depth: 6
min_child_weight: 11
missing: -999
n_estimators: 5
nthread: 4
objective: 'binary:logistic'
seed: 1337
silent: 1
subsample: 0.8